@mixin typography($fontSize, $fontWeight, $lineHeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--font-color);
}

.title1 {
  @include typography(var(--font-size-l), var(--font-weight-bold), var(--line-height-l))
}

.title2 {
  @include typography(var(--font-size-l), var(--font-weight-medium), var(--line-height-l))
}

.body1 {
  @include typography(var(--font-size-m), var(--font-weight-medium), var(--line-height-m))
}

.body2 {
  @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m))
}