.container {
  margin-top: -75px;
  padding-left: 200px;

  .descriptionContainer {
    margin-top: 50px;
  }

  .similarContainer {
    margin-top: 62px;
  }

  .infoContainer {
    margin-top: 38px;
    margin-bottom: 100px;
  }
}
