.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 40px;
  gap: 28px;
  z-index: 1;


  .logo {
    margin-bottom: 90px;
    margin-left: 6px;
    cursor: pointer;
    z-index: 20;
  }

  .item {
    cursor: pointer;
  }

  .arrow {
    margin-top: 256px;
    cursor: pointer;
  }
}