.title {
  padding-bottom: 22px;
}

.info {
  display: flex;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 96px;

    .infoCapture {
      font-size: 28px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.3);
      line-height: 36px;
    }

    .value {
      font-size: 28px;
      font-weight: 400;
      color: #fff;
      line-height: 34px;
    }
  }
}