:root {
  // font sizes
  --font-size-l: 4rem;
  --font-size-m: 3rem;
  --font-size-s: 2.8rem;

  // line heights
  --line-height-l: 5.1rem;
  --line-height-m: 3.5rem;
  --line-height-s: 3.3rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}