:root {
  // font sizes
  --font-size-l: 4rem;
  --font-size-m: 3rem;

  // line heights
  --line-height-l: 5.1rem;
  --line-height-m: 3.6rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}