.container {
  padding-left: 210px;
  width: 100%;

  .title {
    margin-bottom: 25px;
  }

  .newMoviesContainer {
    display: flex;
    gap: 32px;
    min-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
